$royal: rgb(176,117,148); // Royal
$mauve: rgb(210,149,173); // Mauve
$iron: rgb(189,92,69); // Iron
$coral: rgb(227,173,159); // Coral
$bronze: rgb(247,177,79); // Bronze
$tan: rgb(241,208,165); // Tan
$dark-green: rgb(8,35,33); // Dark Green
$forest: rgb(0,73,75); // Forest
$newsprint: rgb(244,238,235); // Newsprint
$forest-background: rgb(242,246,246); // Forest Background
$white: rgb(255,255,255); // White
$success: rgb(63,125,64); // Success
$warning: rgb(228,185,39); // Warning
$error: rgb(203,50,59); // Error
$text-dark-gray: rgb(51,51,51); // Text   /  Dark Gray
$link: rgb(0,105,109); // Link